<html lang="en-us">
  <head>
    {{.Header}}
  </head>

  <body>
    {{.Nav}}
    <article class="h-entry post">
      <h5>
        <time class="dt-published" datetime="{{(index .Posts 0).FrontMatter.Date}}">{{(index .Posts 0).FrontMatter.Date}}</time>
        <span>{{(index .Posts 0).Tagsline}}</span>
      </h5>
      <h1 class="p-name">{{(index .Posts 0).FrontMatter.Title}}</h1>
      <span class="p-author h-card" style="display:none;">
        <a class="p-name u-url" href="https://yulian.kuncheff.com">Yulian Kuncheff</a>
      </span>
      <div class="e-content">{{(index .Posts 0).HTML}}</div>
    </article>
    <area class="comments">
      {{ if (index .Posts 0).LegacyComments }}
      <h3>Old Comments from Disqus</h3>
      <ul>
        {{range (index .Posts 0).LegacyComments}}
          <li>
            <h5>{{.AuthorName}} ({{.AuthorUsername}}) <time>{{.CreatedAt}}</time></h5>
            <p>{{.Message}}</p>
            {{template "comments" .}}
          </li>
        {{end}}        
      </ul>
      {{ end }}
      {{- define "comments"}}
      <ul>
        {{range .Children}}
          <li>
            <h5>{{.AuthorName}} ({{.AuthorUsername}}) <time>{{.CreatedAt}}</time></h5>
            <p>{{.Message}}</p>
            {{template "comments" .}}
          </li>
        {{end}}
      </ul>
      {{- end}}
    {{.Footer}}
  </body>
</html>
